.image-container {
  @apply rounded-md 
  relative
  translate-x-[-10px]
  translate-y-[-10px]
  before:absolute
  before:-z-10
  before:content-['']
  before:w-[100%]
  before:h-[100%]
  before:bg-main-color
  before:rounded-md
  before:translate-x-[10px]
  before:translate-y-[10px]
  shadow-2xl
  ;
}


.image-container img {
  @apply rounded-md shadow-2xl;
}
