.page-header {
  @apply text-4xl font-semibold uppercase mx-auto w-fit relative;
}

.page-header .header-squares {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2
  -translate-y-1/2 grid grid-cols-4 grid-rows-3 h-[200px] w-[300px] -z-10 gap-[0.2px];
}

.page-header .header-squares::before {
  @apply -z-20;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(white , #15803d, #600be9, white);
}

.page-header .header-squares::after {
  content: '';
  position: absolute;
  height: 102%;
  left: -4px;
  width: calc(100% + 5px);
  background: linear-gradient(90deg ,white, transparent 20%, transparent 70%, white);
}


.page-header .header-squares .square {
  @apply bg-white;
  width: calc(300px / 4 - 0.8px);
  height: calc(200px / 3 - 0.8px);
}

