.top-projects .projects-container {
  @apply flex flex-col divide-y relative sm:w-full lg:w-fit mx-auto;
}

.top-projects a,
.top-projects .skeleton {
  @apply flex justify-between items-center sm:text-lg lg:text-3xl
  sm:p-4 sm:px-7  lg:p-8 sm:w-[100%] lg:w-[650px] mx-auto
  hover:bg-main-white transition-colors cursor-none;
}

.top-projects a p {
  @apply text-slate-500 text-base;
}

.projects-container:hover .mouse-tracker-window {
  @apply opacity-100;
}

.projects-container .mouse-tracker-window {
  @apply w-[280px] h-[150px] p-2 overflow-scroll sm:hidden lg:grid gap-[50px] cursor-none
  flex flex-col justify-center items-center absolute opacity-0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
}

.projects-container .mouse-tracker-window img {
  @apply w-full object-cover shadow-lg;
  border-radius: 8px;
}

/* Loading Skeleton */
.top-projects .skeleton {
  @apply bg-main-white cursor-default py-14 mb-2 relative overflow-hidden;
}

.top-projects .skeleton::before {
  content: '';
  position: absolute;
  height: 500px;
  width: 80px;
  background-image: linear-gradient(90deg ,#f6f6f6, #efeeee, #f6f6f6);
  opacity: 0.5;
  transform: rotate(20deg);
  animation: animateSkeleton 2s ease-in-out infinite;
}

@keyframes animateSkeleton {
  from {
    left: -20vw;
  } to {
    left: 60vw;
  }
}