.burger-btn {
  @apply bg-main-black fixed grid items-center sm:p-[10px] lg:p-[15px] rounded-full
  sm:right-[20px] sm:top-[20px] lg:right-[50px] lg:top-[50px] border-2 border-main-white;
  z-index: 999999999;
  --button-color: #f6f6f6;
}

.burger-btn .hamburger {
  transition: translate 1s, rotate 1s;
}

.burger-btn[aria-expanded="true"] .hamburger {
  translate: 3px -3px;
  rotate: 0.125turn;
}

.burger-btn .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.burger-btn[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

/* Vertical Nav */
.vertical-nav {
  @apply fixed z-[9999999] top-0 bg-[#0c0a09ed] text-main-white
  flex flex-col items-center lg:pt-[30px] sm:pt-[100px] text-4xl
  lg:w-[350px] sm:w-[100%] h-[101vh]
  translate-x-[-1000px] overflow-hidden
  ;
}

.vertical-nav button {
  @apply h-[100px] relative  w-[100%] text-center
  hover:bg-[#d3d3d304] transition-colors duration-500;
}

.vertical-nav button a {
  @apply flex
  justify-center items-center;
}

.vertical-nav .small-ball {
  @apply absolute w-[7px] h-[7px] bg-main-white rounded-full
  transition-transform duration-500;
  right: 50px;
  top: 0;
}


/* Nav 1 */
.vertical-nav button:nth-child(1).active ~ .small-ball {
  @apply lg:translate-y-[80px] sm:translate-y-[150px];
}

.vertical-nav button:nth-child(1):hover ~ .small-ball {
  @apply lg:!translate-y-[80px] sm:!translate-y-[150px];
}


/* Nav 2 */
.vertical-nav button:nth-child(2).active ~ .small-ball {
  @apply lg:translate-y-[180px] sm:translate-y-[250px];
}


.vertical-nav button:nth-child(2):hover ~ .small-ball {
  @apply lg:!translate-y-[180px] sm:!translate-y-[250px];
}
/* Nav 3 */

.vertical-nav button:nth-child(3):hover ~ .small-ball,
.vertical-nav button:nth-child(3).active ~ .small-ball {
  @apply lg:translate-y-[280px] sm:translate-y-[350px];
}
