/* Skills Tab */
.skills-tab {
  @apply flex flex-wrap justify-center gap-[10px] px-4 capitalize pt-32 pb-24;
}

.skills-tab .skill,
.skills-tab .clear-all {
  @apply border cursor-pointer py-2 px-4 rounded-full transition-colors;
}

.skills-tab .skill {
  @apply border-main-black
  hover:text-main-white
  hover:bg-main-color text-lg;
}

.skills-tab .skill.active {
  @apply text-main-white
  bg-main-color text-lg;
}

.skills-tab .clear-all {
  @apply bg-red-700 text-main-white border-red-900
  hover:bg-red-800 flex items-center;
}

/* Projects */
.project-container {
  @apply border border-slate-300 mx-auto rounded-md shadow-lg;
}

.project {
  @apply flex justify-between p-[15px] h-[350px]
  flex-col gap-[3px] transition-colors hover:bg-main-white text-center;
}

.project h3 {
  @apply text-lg;
}

.project p {
  @apply sm:text-lg lg:text-base py-2 border-t border-b;
}

.project .proj-image-container {
  @apply w-[100%] sm:h-[200px] lg:h-[150px] bg-main-white overflow-hidden rounded-md border
  border-slate-400;
}

.project .proj-image-container img {
  @apply w-full h-full object-cover relative;
}

.project .made-with {
  @apply capitalize flex flex-wrap gap-[3px] pt-2;
}

.project .made-with span {
  @apply p-[5px] px-[8px] bg-slate-100 rounded-lg text-sm;
}

/* Skeleton */
.project-container.skeleton {
  @apply w-[250px] h-[350px]
}

.project-container.skeleton .proj-image-container {
  @apply bg-[#fcfbfb]
}

.project-container.skeleton {
  @apply bg-[#fcfbfb] cursor-default relative overflow-hidden;
}

.project-container.skeleton .line {
  @apply h-[15px] rounded-full w-full bg-[#f0f0f0];
}

.project-container.skeleton .line:last-of-type {
  @apply w-[70%];
}

.project-container.skeleton::before {
  content: '';
  position: absolute;
  height: 500px;
  width: 80px;
  background-image: linear-gradient(90deg ,#f6f6f6, #efeeee, #f6f6f6);
  opacity: 0.5;
  transform: rotate(20deg);
  animation: animateSkeleton 2s ease-in-out infinite;
}

@keyframes animateSkeleton {
  from {
    left: -20vw;
  } to {
    left: 60vw;
  }
}