.skills-grid {
  @apply grid justify-center gap-5;
  grid-template-columns: repeat(auto-fit, minmax(230px, 250px))
}



.skills-grid .box,
.skills-grid .skeleton {
  @apply bg-[#f8f8f8] h-[250px] rounded-md flex divide-y
  gap-3 text-lg transition-colors hover:border hover:border-main-black
  flex-col justify-center items-center;
}

.skills-grid .skeleton {
  @apply cursor-default py-14 mb-2 relative overflow-hidden;
}

.skills-grid .skeleton::before {
  content: '';
  position: absolute;
  height: 500px;
  width: 80px;
  background-image: linear-gradient(90deg ,#f6f6f6, #efeeee, #f6f6f6);
  opacity: 0.5;
  transform: rotate(20deg);
  animation: animateSkeleton 2s ease-in-out infinite;
}

/* .skills-grid .skill {
  @apply hover:border hover:border-main-black;
} */


