header {
  @apply !relative z-[9999];
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.248) 5%, transparent);
}

@media (width < 767px) {
  header {
    @apply hidden;
  }
}

.links-container {
  @apply mx-auto flex w-fit relative overflow-hidden;
}

.links-container a {
  @apply py-5 w-[80px] text-center;
}

.small-ball {
  @apply absolute w-[7px] h-[7px] bg-black rounded-full bottom-[10px];
  transition: translate 0.8s;
  transition-delay: 0.3s;
}

/* Nav 1 */
.links-container a:nth-child(1).active ~ .small-ball {
  translate: 40px 0;
}

.links-container a:nth-child(1):hover ~ .small-ball {
  translate: 40px 0 !important;
}

/* Nav 2 */
.links-container a:nth-child(2).active ~ .small-ball {
  translate: 120px 0;
}

.links-container a:nth-child(2):hover ~ .small-ball {
  translate: 120px 0 !important;
}

/* Nav 3 */
.links-container a:nth-child(3).active ~ .small-ball {
  translate: 200px 0;
}

.links-container a:nth-child(3):hover ~ .small-ball {
  translate: 200px 0 !important;
}
