
.marquee {
  @apply absolute -z-10
  sm:bottom-[-140px]
  sm:w-[350vw]
  lg:w-[310vw]
  lg:bottom-[140px]
  ;
  background: url("../../assets/my_name.png");
  background-size: 680px;
  background-repeat: repeat-x;
  height: 150px;
  overflow-x: hidden;
}
