.personal-image-container {
  @apply 
  flex
  mt-[-70px]
  justify-center
  before:absolute
  before:content-['']
  before:w-[100%]
  before:h-[100%]
  before:left-0
  before:top-0
  before:translate-x-[10px]
  before:translate-y-[10px]
  hover:before:translate-x-[0]
  hover:before:translate-y-[0]
  before:transition-all
  before:rounded-md
  before:-z-10
  before:bg-main-color
  before:opacity-100;
}

.personal-image-container img {
  object-position: top center;
}

.personal-image-container .title-container {
  @apply absolute bottom-0 w-full h-fit overflow-hidden;
  background: linear-gradient(transparent, #1d4fd868);

}

.personal-image-container .title-container h1 {
  @apply uppercase sm:text-2xl sm:text-center lg:text-4xl font-bold p-4
  w-full text-main-black;
}

.personal-image-container .title-container .name {
  @apply !py-0 pb-2;
  background: -webkit-linear-gradient(#1d4ed8, #6d28d9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (width >= 991px) {
  .personal-image-container {
    @apply w-[940px] h-[500px]
  }
} 

@media (width < 991px) {
  .personal-image-container {
    @apply w-[500px] h-[500px]
  }
} 

@media (width < 767px) {
  .personal-image-container {
    @apply w-[300px] h-[450px]
  }
} 